### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [138]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [139]:
#count the total number of players by counting total rows in column"SN"
total_num = purchase_data["SN"].nunique()

#display the total number of players by creating a new dataframe
data = [{'Toatl Players': total_num}]
data_df =pd.DataFrame(data)
data_df

   Toatl Players
0            576

## Purchasing Analysis (Total)

In [140]:
#number of unique items 
number_of_unique_items = purchase_data["Item ID"].nunique()
number_of_unique_items

183

In [141]:
#average price
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [142]:
#Number of Purchases
number_of_purchases = purchase_data["Purchase ID"].count()
number_of_purchases

780

In [143]:
#Total Revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [144]:
#create a sum data frame 
sum_data = {'Number of Unique Items': [number_of_unique_items], 
            'Average Price' : [average_price], 
            'Number of Purchases':[number_of_purchases],
            'Total Revenue':[total_revenue]}
    
sum_data = pd.DataFrame(sum_data)

#format float
sum_data["Average Price"] = sum_data["Average Price"].map("${:,.2f}".format)
sum_data["Total Revenue"] = sum_data["Total Revenue"].map("${:,.2f}".format)
 #.map(lambda n: '{:,.2%}'.format(n))
sum_data

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [145]:
gender_count = purchase_data['Gender'].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [146]:
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed
#df.cost.apply('${:,.2f}'.format)

gender_percentage = (purchase_data['Gender'].value_counts()/purchase_data['Gender'].count())*100

gender_percentage

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [147]:
#create a gender specific data frame 
gender_new = {"Total Count": gender_count,"Percentage": gender_percentage}
gender_new_df = pd.DataFrame(gender_new)
gender_new_df

#QUESTION1: How can I format single column % $ while creating a new data set, in one line??? SET PERCENTAGE %%%% 
#QUESTION2: Please explain  .map(lambda n: '{:,.2%}'.format(n))


#format float
gender_new_df["Percentage"] = gender_new_df["Percentage"].map("{:,.2f}%".format)
gender_new_df

                       Total Count Percentage
Male                           652     83.59%
Female                         113     14.49%
Other / Non-Disclosed           15      1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [148]:
#avg. purchase total per person
#purchase_count = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
#purchase_count 

purchase_count = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase Count, dtype: int64

In [149]:
#purchase total value

total_purchas_value = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
total_purchas_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Total Purchase Value, dtype: float64

In [150]:
#avg. purchase price 

average_purchase_price = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
average_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Average Purchase Price, dtype: float64

In [151]:
#Question: #avg. purchase total per person = avg. purchase price ??????????????
#total purchase/count 

purchasing_analysis = {"Purchase Count": purchase_count,"Total Purchase Value": total_purchas_value, "Average Purchase Price": average_purchase_price}
purchasing_analysis_df = pd.DataFrame(purchasing_analysis)
purchasing_analysis_df

#format Total Purchase Value and Average Purchase Price
purchasing_analysis_df["Total Purchase Value"] = purchasing_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_df["Average Purchase Price"] = purchasing_analysis_df["Average Purchase Price"].map("${:,.2f}".format)

purchasing_analysis_df

,Purchase Count,Total Purchase Value,Average Purchase Price
Gender,,,
Female,113,$361.94,$3.20
Male,652,"$1,967.64",$3.02
Other / Non-Disclosed,15,$50.19,$3.35

#Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [152]:
#find out max age
max_age = purchase_data['Age'].max()
max_age

45

In [153]:
#Establish bins for ages and rename the groups 
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 45.99]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [154]:
#creat new age range column 
purchase_data["Age Range"] = pd.cut(purchase_data["Age"],[0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 45.99],labels=group_names)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [155]:
#count total number and percentage of each range
age_demo_total = purchase_data.groupby(["Age Range"]).count()["Age"].rename("Total Count")
age_demo_percent = age_demo_total/total_num
age_demographics = {"Total Count":age_demo_total,"Percentage of Players":age_demo_percent.map(lambda n: '{:,.2%}'.format(n))}

# using.map(lambda n: '{:,.2%}'.format(n)) to format "percentage of players"

#Create a summary and display                                                                                       
age_demographics_df = pd.DataFrame(age_demographics)
age_demographics_df

           Total Count Percentage of Players
Age Range
<10                 23                 3.99%
10-14               28                 4.86%
15-19              136                23.61%
20-24              365                63.37%
25-29              101                17.53%
30-34               73                12.67%
35-39               41                 7.12%
40+                 13                 2.26%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [156]:
#similar to purchasing analysis, group by age range instead of groupby gender.
#purchase_count = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
#total_purchas_value = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
#average_purchase_price = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")

age_purchase_count = purchase_data.groupby(["Age Range"]).count()["Price"].rename("Purchase Count")
age_purchase_ave_price = purchase_data.groupby(["Age Range"]).mean()["Price"].rename("Average Purchase Price")
age_purchase_total_price = purchase_data.groupby(["Age Range"]).sum()["Price"].rename("Total Purchase Value")

#display
purchasing_analysis_age = {"Purchase Count": age_purchase_count,"Total Purchase Value": age_purchase_total_price, "Average Purchase Price": age_purchase_ave_price}
purchasing_analysis_age_df = pd.DataFrame(purchasing_analysis_age)
purchasing_analysis_age_df

           Purchase Count  Total Purchase Value  Average Purchase Price
Age Range
<10                    23                 77.13                3.353478
10-14                  28                 82.78                2.956429
15-19                 136                412.89                3.035956
20-24                 365               1114.06                3.052219
25-29                 101                293.00                2.900990
30-34                  73                214.00                2.931507
35-39                  41                147.67                3.601707
40+                    13                 38.24                2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [157]:
#same as last two, groupby SN, .sort_values("", ascending=False)

SN_purchase_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")
SN_purchase_ave_price = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
SN_purchase_total_price = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")

#display
purchasing_analysis_sn = {"Purchase Count": SN_purchase_count,"Total Purchase Value": SN_purchase_total_price, "Average Purchase Price": SN_purchase_ave_price}
purchasing_analysis_sn_df = pd.DataFrame(purchasing_analysis_sn)
purchasing_analysis_sn_df = purchasing_analysis_sn_df.sort_values("Total Purchase Value", ascending=False)


purchasing_analysis_id_df.head()

,,Purchase Count,Total Purchase Value,Average Purchase Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23
145,Fiery Glass Crusader,9,$41.22,$4.58
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77,$3.53
82,Nirvana,9,$44.10,$4.90
19,"Pursuit, Cudgel of Necromancy",8,$8.16,$1.02

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [161]:
#Retrieve the Item ID, Item Name, and Item Price columns using loc 
item_df = purchase_data.loc[:,['Item ID','Item Name','Price']]

item_df.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [165]:
#groupby.(["ID","Item Name"]) 
# = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")
# = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
# = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
#desending order .sort_values("", ascending=False)


id_purchase_count = item_df.groupby(["Item ID","Item Name"]).count()["Price"].rename("Purchase Count")

id_purchase_ave_price = item_df.groupby(["Item ID","Item Name"]).mean()["Price"].rename("Average Purchase Price")

id_purchase_total_price = item_df.groupby(["Item ID","Item Name"]).sum()["Price"].rename("Total Purchase Value")

purchasing_analysis_id = {"Purchase Count": id_purchase_count,"Total Purchase Value": id_purchase_total_price, "Average Purchase Price": id_purchase_ave_price}

purchasing_analysis_id_df = pd.DataFrame(purchasing_analysis_id)
purchasing_analysis_id_df = purchasing_analysis_id_df.sort_values("Purchase Count", ascending=False)
purchasing_analysis_id_df["Total Purchase Value"] = purchasing_analysis_id_df["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_id_df["Average Purchase Price"] = purchasing_analysis_id_df["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_id_df.head()

,,Purchase Count,Total Purchase Value,Average Purchase Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23
145,Fiery Glass Crusader,9,$41.22,$4.58
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77,$3.53
82,Nirvana,9,$44.10,$4.90
19,"Pursuit, Cudgel of Necromancy",8,$8.16,$1.02

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [166]:
#Same.. 

id_purchase_count = item_df.groupby(["Item ID","Item Name"]).count()["Price"].rename("Purchase Count")

id_purchase_ave_price = item_df.groupby(["Item ID","Item Name"]).mean()["Price"].rename("Average Purchase Price")

id_purchase_total_price = item_df.groupby(["Item ID","Item Name"]).sum()["Price"].rename("Total Purchase Value")

purchasing_analysis_id = {"Purchase Count": id_purchase_count,"Total Purchase Value": id_purchase_total_price, "Average Purchase Price": id_purchase_ave_price}

purchasing_analysis_id_df = pd.DataFrame(purchasing_analysis_id)
purchasing_analysis_id_df = purchasing_analysis_id_df.sort_values("Total Purchase Value", ascending=False)

purchasing_analysis_id_df["Total Purchase Value"] = purchasing_analysis_id_df["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_id_df["Average Purchase Price"] = purchasing_analysis_id_df["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_id_df.head()

,,Purchase Count,Total Purchase Value,Average Purchase Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23
82,Nirvana,9,$44.10,$4.90
145,Fiery Glass Crusader,9,$41.22,$4.58
92,Final Critic,8,$39.04,$4.88
103,Singed Scalpel,8,$34.80,$4.35